.main{
    text-align: center;
    background-color: #a9a9a9;
}
.main1{
    background-color: antiquewhite;
}
.main2{
    background-color: antiquewhite;
}
.head{
    margin: 5px 10px;
    padding: 5px 10px;
    border:solid;
}
h3{
    color:lightbrown;
    text-align: center;
    background-color: #a9a9a9;
}
.main3{
    text-align: center;
    background-color: antiquewhite;
}
.main4{
    background-color: antiquewhite;
}
.main5,.main6{
    background-color: antiquewhite;
}

.image{
    position: relative;
    float: right;
}


